.skills-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skills-section {
  background: #f4f4f4;
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}
.skills-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}
.skill-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  width: 160px;
  margin: 0;
  flex: 0 0 auto;
}


.level-label {
  font-size: 14px;
  font-weight: 600;
  color: #777;
}

.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-card h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin: 10px 0 4px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-left {
  animation: scroll-left 1s linear infinite; /* adjust duration as needed */
}
