.about-page {
  /* background-color: #fdfdfd !important; */

  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.about-img {
  height: 430px !important;
  width: 300px;
  border-radius: 10px;
}

.quick-info {
  line-height: 35px;
}

.quick-info li a {
  text-decoration: none;
}

/* Right side */

.about-intro {
  text-align: justify;
  line-height: 30px;
}
